/* 
NOTES!
if selecting element by ID: #
if selecting element with CLASS: .  */


body{
    background-color: white;
    font-family: 'Open Sans Condensed',
    sans-serif;
}

#headerStyle {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    font-family: 'Open Sans Condensed',
    sans-serif;
}


.container{
    width: fit-content;
    margin: auto;
}

#btn-add{
    margin: 10px;
}


table, tr, td, th, thead{
    border: solid black 2px;
    border-collapse: collapse;
}

th{
    width: 130px;
}