/* 
NOTES!
if selecting element by ID: #
if selecting element with CLASS: .  */


body{
    background-color: white;
}

#headerStyle {
    background-color: lightgray;
    padding: 10px;
}

table{
    border: 4px;
    background: black;
}

th{
    column-span: 2;
    background-color: white;
}




